package {{ project_name }}:app;

world app {
    include wasi:surface/imports@0.0.1;
    include wasi:graphics-context/imports@0.0.1;
    include wasi:frame-buffer/imports@0.0.1;

    export start: func();
    import log: func(message: string);
}